body {
	background-color:#ffffff;
}
#header {
	position:absolute;
	background-repeat:no-repeat;
	width:642px;
	height:233px;
	top:0px;
	left:0px;
	z-index:1;
}
#SiteName {
	position:absolute;
	margin-left:15%;
	top:50px;
	width:555px;
	height:45px;
	z-index:2;
	font-size:35px;
	color:#777d8f;
	overflow:hidden;
}
.right {
	width:255px;
	font-size:11px;
  text-align:right;
  vertical-align:bottom;
  position:absolute;
  top:0;
  right:0;
}
.left {
	overflow:hidden;
	height:45px;
}
h1 {
	color:#000000;
	font-size:20px;
	line-height: 100%;
	margin-bottom: 0px;
}
h3 a:link, h3 a:visited, h3 a:hover, h3 a:active {
  color: black;
  text-decoration: none !important;
}
#date {
  font: bold 50%;
  color: rgb(110,110,110);
  line-height: 100%;
  margin-bottom: 10px;
}
#MainContent {
	position:relative;
	top:110px;
	width:606px;
	z-index:6;
	margin-left:15%;
	font-size:14px;
	line-height:150%;
	color:#30424c;
  padding:0px 0px 30px;
}
figure {
  margin: 0 auto;
}
