src/attic/*
src_old
stl_old
to_make_*
.gitignore
stl/*
*.blend
src/layout/frame*
src/layout/flex_animation/
src/layout/frame/attic/
attic/
core_idea
full_winch_animation/
markers_placed*
more_complete_full_render.stl
